button{
    padding: 7px;
    background: blue;
    color: white;
    margin: 10px;
    border-radius: 5px;
    border: none;
    &:hover {
        background:rgb(255, 2, 129);
        color: black;
    }

}