<div class="sbox">
<h2>Total Pages: {{totalPages}} </h2><br>
<div class="movies"> 
   
    <div *ngFor="let point of data.Search" class="movie-card">
            <div class="fill">
              <img src={{point.Poster}}>
            </div>
            
            <div class="movie-details">
                <h3>Title: {{point.Title | uppercase}} </h3>
                <h3>IMDB ID: {{point.imdbID}}</h3>
                <h3>Year of Release: {{point.Year}} </h3>
            </div>               
          
    </div>
</div>
</div>