
img{
    width: 10em;
    padding: 5px;
    
}

.movies{
    margin: 0 auto;
    width: 100%;   
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}

.movie-details{   
    text-align: left;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.movie-card{
   
    background-color: rgb(255, 0, 0);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.movie-card:hover{
    box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.397), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}